.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

  input {
    height: 50px;
    padding: 7px;
    font-size: 10px;
  }
  
  form{
     width: 50vh;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
  }
}

/* Добавьте ваши стили к уже существующим */

/* Стили для перемещения чата в левый нижний угол */
.chat-container {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  width: 300px; /* Ширина чата */
  height: 200px; /* Высота чата */
  overflow-y: auto; /* Добавляет вертикальную прокрутку, если контент не помещается */
}

/* Стили для сообщений в чате (если нужны) */
.chat-message {
  margin-bottom: 8px;
}

/* Стили для перемещения содержимого ввода в чате в левый нижний угол */
.chat-input {
  width: 100%; /* Ширина ввода на 100% контейнера */
}

